<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
        </style>
        <link rel="stylesheet" href="styles.css"> 

        <title>Data Journalism Solar Project</title>
    </head>

    <body>
      {% include 'navbar.html' %}
        <h1>Harnessing The Sun: Solar Projects In New York State Since 2000</h1>
        <h2>Context Surrounding The Project</h2>
        <p>This project is for my advanced computer science class. We were tasked to take a large sum of data that tells a story, <br> 
          and narrow it down into one macro infographic and multiple micro infographics that give the reader an easy view of what the data is showing. <br>
          For my data, I chose every solar project that has been constructed in New York State since 2000. I chose this because I am interested in <br>
          sustainable energy and I think it is crucial for the future. This data set, condensed into these infographics, help us visualize our progress in that regard over the last two decades. 
          
        </p>
        <h2>Vocab</h2>
        <p>
          <li class="vocab_list"> SOLAR PROJECTS: Construction of solar panels in a defined area by a company or group for the purpose of generating energy. </li>
          <li class="vocab_list"> Kwh: Kilowatts per hour. The units for the energy production of the solar panels. </li>
        </p>
        <h2>Prototyping</h2>
        <p>
          <img length="500" width="500" src="proto1.jpg" alt="Macro Prototype">
          <img length="500" width="500" src="proto2.jpg" alt="Micro Prototype"> <br>
          Above are my initial types for the micro and macro pages. For the macro prototype, I made a map because I feel that <br>
          it is very visually pleasing and through a color distinction you are able to take in data from different regions <br>
          of an entire state in a very easy way. For the micro summary, I felt that a relevant graph would be the total projects <br>
          over time, because that gives an indication of how we have progressed in making renewable energy as a state. <br>
          For my other micro infographic, I was deciding between a pie chart based on who developed the solar projects, <br>
          or a graph of the change in annual production of the solar projects over time. 
        </p>

        <h2>Feedback</h2>
        <p>
          <li class="vocab_list"> "I know its just a prototype but just make sure the colors on macropage match up. I think the annual energy production line chart is <br>
                                  more relevant than developer pie chart, but maybe thats not the direction you wanna go in." </li> <br>
          <li class="vocab_list"> "On the micro page, you don't need a "developer" section, uless you can tie that in to the story, though the energy production graph <br>
                                  is useful - maybe integrate energy production in to the macro view. Also, the macro color scheme is pretty distracting and not too <br>
                                  informative, I would use a monochrome gradient. Since this data is pretty industry specific, I would also add some lines on the <br>
                                  graphs to indicate averages, etc." </li> <br>
          <li class="vocab_list"> "This will most likely become more evident as you analyze the data (specifically the total solar projects over time), but I think <br>
                                  that a link between the macro and micro pages (ex. in a larger title that summarizes both) could aid in communicating the message. <br>
                                  Also, the annual energy output vs. time graph might be more beneficial to your message, unless you are focusing on specific developers <br>
                                  as part of your message. I think all of the graphs are effective in their message."</li>
        </p>

        <h2>Final Design/Takeaways From Feedback</h2>

        <p>
          After considering the feedback, my final design uses a more monochrome map with different saturations of the same color. <br>
          This makes the colors less distracting that thus aids the focus on the data. Additionally, in my initial prototype <br>
          I was deciding between a pie chart of the developers and the line graph of the production over time, but in my final <br>
          design I am only including the production over time. This decision was based on the feedback that the developer pie <br>
          chart was not very relevant to my code and that the line graph was better, but also came from a personal decision <br>
          that I felt the developer pie chart did not really carry meaning to my message about the development of solar projects. <br>
          Who develops them is not entirely important to this data, it is the growth of their development, and that is shown in <br>
          the amount over time and their productions.

        <h2>Data Pipeline: CSV to JSON</h2>

        <p>
          <li class="vocab_list"> 1. I put the CSV file into a google sheets file. </li> <br>
          <li class="vocab_list"> 2. I edited the sheets file and got rid of any <br> unecessary data that was not useful for my message. </li> <br>
          <li class="vocab_list"> 3. I exported the sheets file into VS code. </li> <br>
          <li class="vocab_list"> 4. In VS code, I created a <a href="https://github.com/Chewboscer/Solar-Data-Project/blob/main/data_journalism/data/format_data.py">format_data.py </a> file <br>where I looped through all the lines of the CSV file and <br>organized what I needed into dictionaries and lists. </li><br>
          <li class="vocab_list"> 5. After doing this, I used the <a href="https://github.com/Chewboscer/Solar-Data-Project/blob/main/data_journalism/data/format_data.py">format_data.py </a> <br>to create a new JSON file. </li>
        </p>
<br> <br> <br>

        </p>

      {% include 'footer.html' %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>













</html>